include ../post/smart/post

div.misskey-home-widget#widget-timeline(
		data-widget-id='timeline',
		data-widget-name='タイムライン')
	div.timeline
		div.posts.can-more-read
			if posts.length > 0
				each post in posts
					+post(post)
		if posts.length > 0
			button.read-more
				=locale.sites.desktop.pages._home.timeline.read_more
		if posts.length == 0
			p.empty
				=locale.sites.desktop.pages._home.timeline.empty_timeline
				br
				=locale.sites.desktop.pages._home.timeline.about_timeline
