extends ./_article-base/view

block title
	=locale.sites.desktop.pages._about.title

block article
	main(role='main')
		ul
			li: a(href='/technologies')
				i.fa.fa-list
				=locale.sites.desktop.pages._about.technologies
				i.angle.fa.fa-angle-right
			li: a(href='/system')
				i.fa.fa-info-circle
				=locale.sites.desktop.pages._about.system_info
				i.angle.fa.fa-angle-right
			li: a(href='/license')
				i.fa.fa-file-text-o
				=locale.sites.desktop.pages._about.licence
				i.angle.fa.fa-angle-right
