extends ../../ui

block title
	=locale.sites.desktop.pages._about.title

block content
	div#main-container
		main(role='main')
			ul
				li: a(href='/technologies')
					i.icon.fa.fa-code
					=locale.sites.desktop.pages._about.technologies
					i.angle.fa.fa-angle-right
				li: a(href='/system')
					i.icon.fa.fa-cogs
					=locale.sites.desktop.pages._about.system_info
					i.angle.fa.fa-angle-right
				li: a(href='/license')
					i.icon.fa.fa-file-o
					=locale.sites.desktop.pages._about.licence
					i.angle.fa.fa-angle-right
